<%- include("partials/header"); -%>

    <body>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="/">kaça çıkarım</a></div>
        </nav><br><br><br>

        <div class="highlight-clean">
            <div class="container">
                <h5 class="text-center">ilçeyi seç detayları gör</h5>
                <p class="text-center">elektrik , su , doğalgaz faturaları</p>

                <div class="form-group text-center">
                    <form action="/" method="post">
                        <select required autofocus name="district" id="district">
                            <option value="Adalar">Adalar</option>
                            <option value="Arnavutköy">Arnavutköy</option>
                            <option value="Ataşehir">Ataşehir</option>
                            <option value="Avcılar">Avcılar</option>
                            <option value="Bağcılar">Bağcılar</option>
                            <option value="Bahçelievler">Bahçelievler</option>
                            <option value="Bakırköy">Bakırköy</option>
                            <option value="Başakşehir">Başakşehir</option>
                            <option value="Bayrampaşa">Bayrampaşa</option>
                            <option value="Beşiktaş">Beşiktaş</option>
                            <option value="Beykoz">Beykoz</option>
                            <option value="Beylikdüzü">Beylikdüzü</option>
                            <option value="Beyoğlu">Beyoğlu</option>
                            <option value="Büyükçekmece">Büyükçekmece</option>
                            <option value="Çatalca">Çatalca</option>
                            <option value="Çekmeköy">Çekmeköy</option>
                            <option value="Esenler">Esenler</option>
                            <option value="Esenyurt">Esenyurt</option>
                            <option value="Eyüpsultan">Eyüpsultan</option>
                            <option value="Fatih">Fatih</option>
                            <option value="Gaziosmanpaşa">Gaziosmanpaşa</option>
                            <option value="Güngören">Güngören</option>
                            <option value="Kadıköy">Kadıköy</option>
                            <option value="Kağıthane">Kağıthane</option>
                            <option value="Kartal">Kartal</option>
                            <option value="Küçükçekmece">Küçükçekmece</option>
                            <option value="Maltepe">Maltepe</option>
                            <option value="Pendik">Pendik</option>
                            <option value="Sancaktepe">Sancaktepe</option>
                            <option value="Sarıyer">Sarıyer</option>
                            <option value="Silivri">Silivri</option>
                            <option value="Sultanbeyli">Sultanbeyli</option>
                            <option value="Sultangazi">Sultangazi</option>
                            <option value="Şile">Şile</option>
                            <option value="Şişli">Şişli</option>
                            <option value="Tuzla">Tuzla</option>
                            <option value="Ümraniye">Ümraniye</option>
                            <option value="Üsküdar">Üsküdar</option>
                            <option value="Zeytinburnu">Zeytinburnu</option>
                        </select>
                        <button id="detayButton" class="btn btn-dark btn-sm submit-btn" type="submit"
                            style="margin-left: 1%;">Detayları
                            Göster</button>
                    </form>

                </div>
            </div>
        </div>

    </body>

    </html>